* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* header styles */
.header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  padding: 0 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-title {
  font-size: 70px;
  font-weight: 800;
}
.banner-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin-top: 30px;
}
.shop-btn {
  color: white;
  background-color: rgba(229, 84, 115, 1);
  font-size: 20px;
  padding: 20px 43px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.banner-img {
  width: 635px;
  margin-top: 50px;
}

/* main section */

.our-title {
  font-size: 40px;
  font-weight: 800;
}
.our {
  text-align: center;
  margin-top: 170px;
}
.flowers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 240px 195px;
}
.img1,
.img2,
.img3 {
  border-radius: 300px 300px 0 0;
}
.img1 {
  background-color: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0;
  margin-right: 24px;
}
.img2 {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
  margin-right: 24px;
}
.img3 {
  background-color: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
  margin-right: 24px;
}
.flower-name {
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/* support section */
.support-sec {
  background-color: rgba(39, 39, 39, 0.05);
  margin: 0 228px;
  padding: 86px 310px 86px 232px;
  margin-bottom: 228px;
}
.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.support-des {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  
}
.support-blocks{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* deal section */

.deal-sec{
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
    padding: 100px 395px 100px 350px;
}
.deal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal-details{
    text-align: center;
    
}

/* special-section */

.special-sec{
  background-color: rgb(241, 226, 220);
  padding:100px 240px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 128px;
}
.today-title{
  text-align: center;
}
.flower-list{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* instagram section */

.insta-sec{
  padding: 0 240px;
  margin-bottom: 128px;
}
.insta-title{
  text-align: center;
  margin-bottom: 48px;
}
.insta-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* latest deals */

.latest-sec{
  background-image: url(../Flower-Asset/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 122px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 128px;
}
.latest-title{
  text-align: center;
  margin-bottom: 48px;
}
.mail{
  display: flex;
  align-items: center;
  justify-content: center;
}
#email{
  border: none;
  width: 700px;
  height: 63px;
  padding-left: 22px;
  color: rgba(39, 39, 39, 0.6);
  vertical-align: bottom;
  margin-right: 16px;
  border-radius: 8px;
}

/* footer section */

footer{
  background-color: black;
  color: white;
  text-align: center;
}
.footer-sec{
  padding:128px 640px
}
.footer-title{
  font-size: 48px;
font-weight: 800;
}
.footer-span{
  color: rgba(229, 84, 115, 1);
}
.footer-para{
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}
.footer-address{
  color: rgba(255, 255, 255, 0.4);
}