* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* header styles */
.header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  padding: 0 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-title {
  font-size: 70px;
  font-weight: 800;
}
.banner-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin-top: 30px;
}
.shop-btn {
  color: white;
  background-color: rgba(229, 84, 115, 1);
  font-size: 20px;
  padding: 20px 43px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.banner-img {
  width: 540px;
  margin-top: 50px;
}

/* main section */

.our-title {
  font-size: 40px;
  font-weight: 800;
}
.our {
  text-align: center;
  margin-top: 170px;
}
.flowers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 240px 195px;
}
.img1,
.img2,
.img3 {
  border-radius: 300px 300px 0 0;
}
.img1 {
  background-color: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0;
  margin-right: 24px;
}
.img2 {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
  margin-right: 24px;
}
.img3 {
  background-color: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
  margin-right: 24px;
}
.flower-name {
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/* support section */
.support-sec {
  background-color: rgba(39, 39, 39, 0.05);
  margin: 0 228px;
  padding: 86px 310px 86px 232px;
  margin-bottom: 228px;
}
.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.support-des {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  
}
.support-blocks{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* deal section */

.deal-sec{
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
    padding-bottom: 162px;
}
.deal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal-details{
    text-align: center;
    margin: 230px 186px 0px 400px;
}
.deal-img{
    margin:100px 430px 100px 186px;
}